/* * {
  border: 1px dotted red;
} */
body,
html {
  /* background: rgb(245, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 1) 92%,
    rgba(50, 48, 50, 1) 100%
  ); */
  background-image: url(dogbg2.png);
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  height: 100%;
}
.rendered {
  display: none;
}
.rendered.active {
  display: inline;
}
.overlay {
  margin-top: 250px;
  border: 5px solid #323032;
  padding: 25px;
  background: white;
}
.dog__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  color: white;
  height: 50px;
  background: #323032;
}

.dog__image {
  max-width: 400px;
  max-height: 100%;
  border: 5px solid #323032;
  padding: 25px;
  background: white;
}

#dog__breed {
  font-size: 40px;
  color: #323032;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 2px solid #323032;
  background: white;
  padding: 10px;
}

#dog__info {
  font-size: 20px;
  color: #323032;
  width: 100%;
  border: 2px solid #323032;
  padding: 10px;
  margin-top: 50px;
  background: white;
  box-shadow: 0 0 2px 2px #323032;
}

.dogListItem {
  color: #323032;
  text-decoration: none;
  border-bottom: 2px solid white;
}
.dogListItem:hover {
  background-color: #1f1e1e;
  font-size: 18px;
}

.hamburger {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.nav__list {
  position: absolute;
  line-height: 50px;
  text-align: left;
  right: -100%;
  margin-top: 0;
  background-color: #323032;
  font-size: 16px;
  width: 300px;
  transition: all 0.5s ease-in-out;
  height: 100vh;
}

.nav__list.nav__list--is-open {
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}
.bottom {
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  height: 50px;
  background: #323032;
}
.bottom__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#fetched {
  color: pink;
  text-decoration: underline;
}
